{% if user.is_authenticated %}
    {% csrf_token %}
<body>
    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'error' %}
          <div class="alert alert-danger">
            {{ message }}
          </div>
        {% else %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}

    <div>
        <a href="{% url 'add_company_info' %}" class="btn btn-primary">Pridėti rekvizitus</a>
        <a href="{% url 'edit_company_info' company.company_id %}" class="btn btn-warning">Redaguoti rekvizitus</a>
    </div>
    <div>

        <h5><b>Įmonės pavadinimas:</b> {{ company.company_name }}</h5>
        <h5><b>Įmonės kodas:</b> {{ company.company_registration_number }}</h5>
        <h5><b>PVM kodas:</b> {{ company.company_vat_number }}</h5>
        <h5><b>Adresas:</b> {{ company.company_address }}</h5>
        <h5><b>El.paštas:</b> {{ company.company_email_address }}</h5>
        <h5><b>Telefono numeris:</b> {{ company.company_phone_number }}</h5>
        {%comment%}<a href="{% url 'edit_company_info' company.company_id %}" class="btn btn-warning">Redaguoti rekvizitus</a>{%endcomment%}

    </div>
</body>
{% endif %}
