{% load static%}

{% if user.is_authenticated %}

{% load crispy_forms_tags %}

<body>
<link href="{% static 'css/input-width.css' %}" rel="stylesheet">
<link href="{% static 'css/short_field.css' %}" rel="stylesheet">
<link href="{% static 'css/pricedivright.css' %}" rel="stylesheet">

<div class="content-section">
    <form method="POST">
        {% csrf_token %}

        <select name="products" class="form-select short_input" id="select-box2">
            <option selected disabled="true" value="">Pasirinkite prekę...</option>

            {% for product in all_products %}
            <option
                    value="{{ product.product_id }}"
                    data-name="{{ product.product_name }}"
                    data-description="{{ product.product_description }}"
                    data-price="{{ product.product_price}}"
                    >{{ product.product_name }}</option>
            {% endfor %}
        </select>

        <div class="table-responsive product-list-table" id="product-table">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Pavadinimas</th>
                    <th>Aprašymas</th>
                    <th>Kiekis</th>
                    <th>Kaina</th>
                    <th>Suma</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

        <select name="services" class="form-select short_input" id="select-box3">
            <option selected disabled="true" value="">Pasirinkite paslaugą...</option>

            {% for service in all_services %}
            <option
                    value="{{ service.service_id }}"
                    data-name="{{ service.service_name }}"
                    data-description="{{ service.service_description }}"
                    data-price="{{ service.service_price}}"
                    >{{ service.service_name }}</option>
            {% endfor %}
        </select>

        <div class="table-responsive service-list-table" id="service-table">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Pavadinimas</th>
                    <th>Aprašymas</th>
                    <th>Kiekis</th>
                    <th>Kaina</th>
                    <th>Suma</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>



        <fieldset class="form-group" style="width: 300px;">
            <legend class="border-bottom mb-4">Testing</legend>
            {{ invoice_form|crispy }}
        </fieldset>

        <br>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Išsaugoti</button>
            <a href="{% url 'invoices' %}" class="btn btn-secondary">Grįžti</a>
        </div>

    </form>
</div>

<script src="{% static 'js/calculations.js' %}"></script>
</body>
{% endif %}