{% extends "base.html" %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}
{% csrf_token %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ title }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
        </div>
    </div>

    {% if current_route == 'clients' %}
        {% include "clients.html" %}

    {% elif current_route == 'add_client' %}
        {% include "add_client.html" %}

    {% elif current_route == 'products' %}
        {% include "products.html" %}

    {% elif current_route == 'add_product' %}
        {% include "add_product.html" %}

    {% elif current_route == 'services' %}
        {% include "services.html" %}

    {% elif current_route == 'add_service' %}
        {% include "add_service.html" %}

    {% elif current_route == 'invoices' %}
        {% include "invoices.html" %}

    {% elif current_route == 'create_blank_invoice' %}
        {% include "create_invoice.html" %}

    {% elif current_route == 'create_full_invoice' %}
        {% include "create_invoice.html" %}

    {% endif %}

</main>

{% endif %}
{% endblock %}