{% if user.is_authenticated %}
<body>
    {% if searched %}
        <h1>Paieškos pagal "{{ searched }}" rezultatai:</h1>
        <br>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Kliento pavadinimas</th>
                        <th scope="col">Įmonės kodas</th>
                        <th scope="col">PVM kodas</th>
                        <th scope="col">Adresas</th>
                        <th scope="col">El. paštas</th>
                        <th scope="col">Telefono numeris</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                {% for client in clients %}
                <tr>
                    <td>{{ client.client_name }}</td>
                    <td>{{ client.registration_number }}</td>
                    <td>{{ client.vat_number }}</td>
                    <td>{{ client.address }}</td>
                    <td>{{ client.email_address }}</td>
                    <td>+{{ client.phone_number }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h1>Kadangi nieko neįvedėte į paieškos laukelį, todėl nieko neradome... Bandykite dar kartą.</h1>
    {% endif %}
{% endif %}
</body>